:root {
  --secondary-text-color: #ffffff;
  --primary-text-color: #afb1b8;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.footer__links--name-links {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 70px;
  padding-top: 12px;
}

.footer__div-container {
  display: flex;
  justify-content: space-between;
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #2f303a;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:focus, .social-list-link-footer:hover {
  background: var(--accent-color);
}

.social-list-icon-footer {
  fill: var(--secondary-text-color);
}

.footer-label-span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  display: block;
}

.footer-input-maill {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  height: 50px;
  width: 358px;
  margin-top: 20px;
  padding-left: 16px;
  color: var(--secondary-text-color);
}

.footer-input-maill::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__div-container--footer-form-wraper {
  display: flex;
  padding-top: 12px;
  margin-left: 92px;
}

.footer-button-subscriber {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 10px 10px 29px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 36px;
  border: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-subscriber:focus, .footer-button-subscriber:hover {
  background: #188ce8;
}

.footer-vector-subscriber {
  margin-left: 10px;
  margin-right: 18px;
}

.footer-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.div-footer-button {
  margin-left: 12px;
  margin-top: 48px;
}

.gps {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-bottom: 10px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.foot-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-mail:hover, .foot-mail:focus {
  color: var(--accent-color);
}

.foot-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-tel:hover, .foot-tel:focus {
  color: var(--accent-color);
}

.contacts {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: #757575;
  list-style: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-foot-mail {
  padding-bottom: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.icon-header-tell {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header-link:focus .icon-header-tell,
.nav-header-link:hover .icon-header-tell {
  fill: var(--accent-color);
}

.icon-header-maill {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header-link:focus .icon-header-maill,
.nav-header-link:hover .icon-header-maill {
  fill: var(--accent-color);
}

.nav-header__lists {
  display: flex;
  align-items: center;
}

.header__nav-contacts {
  display: flex;
  align-items: center;
}

.icon-header {
  width: 10px;
  height: 16px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__logo-webstudio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 92px;
}

.colortext-logo {
  color: var(--accent-color);
}

.nav-header-link {
  fill: #757575;
}

.nav-header__list {
  list-style: none;
}

.nav-header__list:not(:last-child) {
  margin-right: 50px;
}

.nav-header__list :hover,
.nav-header__list :focus {
  color: var(--accent-color);
}

.header__nav-contacts {
  list-style: none;
}

.nav-header__list-link {
  position: relative;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.hours-working {
  padding-bottom: 94px;
}

.hours-working-gallery {
  display: flex;
}

.hours-working-foto:not(:last-child) {
  margin-right: 30px;
}

.box-hours-working-foto {
  position: relative;
}

.description-jobs {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 26px 82px;
  text-transform: uppercase;
}

.hours-working-title,
.our-team-peculiarities {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hours-working-gallery {
  list-style: none;
  margin-top: 50px;
}

.our-team-list {
  margin-top: 50px;
  display: flex;
  list-style: none;
}

.foto-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker-name {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 5px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: var(--secondary-text-color);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:focus, .social-list-link:hover {
  background: var(--accent-color);
}

.social-list-icon {
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:focus .social-list-icon,
.social-list-link-footer:hover .social-list-icon {
  fill: var(--secondary-text-color);
}

.social-list-link:focus .social-list-icon,
.social-list-link:hover .social-list-icon {
  fill: var(--secondary-text-color);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.our-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team {
  width: 270px;
  height: 428px;
  left: 515px;
  top: 1635px;
  background: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team:not(:nth-child(4n)) {
  margin-right: 30px;
}

.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 5px;
}

.div-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-work {
  width: 270px;
  list-style: none;
}

.div-grup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities-grup {
  display: flex;
  width: 70px;
  height: 70px;
}

.peculiarities-work {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.work {
  margin-bottom: 10px;
}

.work-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.list-clients {
  cursor: pointer;
  list-style: none;
}

.list-clients:not(:last-child) {
  margin-right: 30px;
}

.link-clients {
  fill: var(--primary-text-color);
  display: block;
  height: 92px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 31px 16px 31px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:focus, .link-clients:hover {
  fill: var(--accent-color);
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.list-clients-list {
  height: 92px;
  width: 100%;
}

.div-clients {
  display: flex;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.hero-description {
  font-style: normal;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  padding-bottom: 30px;
}

.section-hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background.jpg);
  background-color: #2f303a66;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: url("../img/Header img@2x.jpg");
  }
}

.div-hero {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.hero-block {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  padding: 0 0 0 0;
}

.hero-button:hover, .hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main-hero-work-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
  fill: var(--accent-color);
}

.contacts-form-description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-field {
  display: block;
  margin-top: 10px;
}

.contact-form-name {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.contact-form-comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}

.contact-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14286;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-span {
  position: relative;
  margin-top: 4px;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  padding: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  border: none;
  background-image: url("../img/icon-check.jpg");
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: solid 2px #212121;
  border-radius: 2px;
  cursor: pointer;
  content: "";
  margin-right: 8px;
}

.contact-form-checkbox-link {
  color: var(--accent-color);
}

.contact-form-checkbox-wrapper {
  position: relative;
}

.contact-form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  user-select: none;
}

.contact-form-submit-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  background: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 56px;
  border: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:focus, .contact-form-submit-btn:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.list-button {
  list-style: none;
}

.foto-description-portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 20px 24px;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio:focus, .button-portfolio:hover {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--secondary-text-color);
}

.list-hero {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.foto-portfolio {
  width: 370px;
  height: 404px;
  background: var(--secondary-text-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  cursor: pointer;
}

.foto-portfolio:not(:nth-child(3n)) {
  margin-right: 30px;
}

.foto-portfolio:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.links-foto-portfolio {
  display: block;
  text-decoration: none;
}

.links-foto-portfolio:focus, .links-foto-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box-portolio {
  position: relative;
  overflow: hidden;
}

.description-foto-portfolio {
  position: absolute;
  background: rgba(33, 150, 243, 0.902);
  left: 0;
  top: 0;
  text-align: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-foto-portfolio:focus .description-foto-portfolio,
.links-foto-portfolio:hover .description-foto-portfolio {
  text-align: start;
  transform: translateY(0%);
}

.name-project {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.description-project {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  body {
    width: 480px;
    margin: 0 auto;
  }
  .header__container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-header {
    display: none;
  }
  .header__contacts {
    display: none;
  }
  .hours-working {
    display: none;
  }
  .header {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    position: relative;
    background-color: #ffffff;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header__logo-webstudio {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header__logo-webstudio {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    margin-right: 0;
  }
  .colortext-logo {
    color: var(--accent-color);
  }
  .section-container {
    padding: 60px 15px;
  }
  .mobile-container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu__lists--list {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    list-style: none;
  }
  .mobile-menu__lists--list:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__lists--list:last-child {
    margin-bottom: 302px;
  }
  .mobile-menu__lists--link {
    color: #212121;
    text-decoration: none;
  }
  .mobile-menu__link-color {
    color: #2196f3;
  }
  .mobile-menu-tell {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17647;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-menu-tell-list {
    margin-bottom: 32px;
  }
  .mobile-menu-maill-list {
    margin-bottom: 32px;
  }
  .mobile-menu-maill {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16667;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu__contacts-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-decoration: none;
  }
  .mobile-menu__contacts-list {
    list-style: none;
  }
  .social-media-link {
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22222;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
  }
  .social-media-list {
    list-style: none;
  }
  .social-media-lists {
    display: flex;
  }
  .mobile-menu__lists {
    padding-right: 212px;
  }
  .social-media-list:not(:first-child) {
    padding-left: 10px;
  }
  .social-media-list:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social-media-list:last-child {
    margin-right: 40px;
  }
  .mobile-menu__close-btn:focus .mobile-menu__close-icon,
  .mobile-menu-btn:focus .mobile-menu-btn__icon {
    fill: #2196f3;
  }
  .mobile-menu__close-icon,
  .mobile-menu-btn__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-btn__icon {
    fill: #212121;
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 80px;
  }
  .hero-block {
    width: 480px;
    height: 400px;
    padding: 118px 60px;
    display: flex;
    justify-content: normal;
  }
  .section-hero {
    width: 480px;
    height: 400px;
    margin: 0 auto;
  }
  .hero-description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61538;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .hero-button {
    margin-bottom: 118px;
  }
  .peculiarities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .div-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .div-grup {
    width: 450px;
  }
  .list-work {
    width: 450px;
  }
  .peculiarities-work {
    display: flex;
    justify-content: center;
  }
  .our-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .team {
    width: 450px;
    height: 622px;
  }
  .team:not(:last-child) {
    margin-bottom: 30px;
  }
  .team:last-child {
    margin-bottom: 60px;
  }
  .team:not(:nth-child(4n)) {
    margin-right: 0;
  }
  .our-team-peculiarities {
    margin-bottom: 30px;
  }
  .foto-mobil {
    width: 450px;
    height: 460px;
  }
  .section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .div-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clients-title {
    margin-bottom: 30px;
  }
  .list-clients:not(:last-child) {
    margin-right: 0;
  }
  .link-clients {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .list-clients {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
    padding: 0;
  }
  .list-clients-last {
    margin-bottom: 60px;
  }
  .link-clients-icon {
    margin: 0 auto;
  }
  .footer__div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .footer__links {
    align-items: center;
    margin-left: 0;
  }
  .footer__div-container--footer-form-wraper {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .footer-label-span {
    display: flex;
    justify-content: center;
  }
  .footer-input-maill {
    width: 450px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal {
    width: 450px;
    height: 608px;
    padding: 40px;
  }
  .backdrop {
    width: 480px;
    height: 100%;
  }
  .footer-button-subscriber {
    margin-left: 0;
  }
  .contact-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16667;
  }
  .contact-form-checkbox-label::before {
    margin-right: 7px;
  }
  .main-hero-work-portfolio {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .all-button {
    margin-bottom: 40px;
  }
  .foto-portfolio {
    width: 450px;
  }
  .foto-portfolio:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .list-hero {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */