:root {
  --secondary-text-color: #ffffff;
  --primary-text-color: #afb1b8;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.top-main-line {
  border-bottom: 1px solid #ececec;
}

.icon-header-tell {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header-maill {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header-lists {
  display: flex;
  align-items: center;
}

.nav-header-list:not(:last-child) {
  margin-right: 50px;
}

.nav-header-contacts {
  display: flex;
  align-items: center;
}

.icon-header {
  width: 10px;
  height: 16px;
}

.div-contacts {
  display: flex;
  margin-left: auto;
}

.logo-header-webstudio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 92px;
}

.colortext-logo {
  color: #2196f3;
}

.nav-header-link {
  fill: #757575;
}

.nav-header-list :hover,
.nav-header-list :focus {
  color: #2196f3;
}

.nav-header-list,
.nav-header-contacts {
  list-style: none;
}

.nav-header-link:focus .icon-header-maill,
.nav-header-link:hover .icon-header-maill {
  fill: var(--accent-color);
}

.nav-header-link:focus .icon-header-tell,
.nav-header-link:hover .icon-header-tell {
  fill: var(--accent-color);
}

.nav-header-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-description {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
}

.section-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background.jpg);
  background-color: #2f303a66;
  background-position: center;
  background-size: cover;
}

.div-hero {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.hero-block {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  padding: 0 0 0 0;
}

.hero-button :hover,
.hero-button :focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-work {
  width: 270px;
  list-style: none;
}

.div-grup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities-grup {
  display: flex;
  width: 70px;
  height: 70px;
}

.peculiarities-work {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.work {
  margin-bottom: 10px;
}

.work-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.hours-working {
  padding-bottom: 94px;
}

.hours-working-gallery {
  display: flex;
}

.hours-working-foto:not(:last-child) {
  margin-right: 30px;
}

.box-hours-working-foto {
  position: relative;
}

.description-jobs {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 26px 82px;
  text-transform: uppercase;
}

.hours-working-title,
.our-team-peculiarities {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hours-working-gallery {
  list-style: none;
  margin-top: 50px;
}

.our-team-list {
  margin-top: 50px;
  display: flex;
  list-style: none;
}

.foto-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 5px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 16px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:focus,
.social-list-link:hover {
  background: #2196f3;
}

.social-list-link:focus .social-list-icon,
.social-list-link:hover .social-list-icon {
  fill: var(--secondary-text-color);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.our-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team {
  width: 270px;
  height: 428px;
  left: 515px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 5px;
}

.gps {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 10px;
}

.lower-main-line {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer-WebStudio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.foot-mail,
.foot-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  list-style: none;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-foot-mail {
  padding-bottom: 10px;
}

.foot-mail:hover,
.foot-mail:focus,
.foot-tel:hover,
.foot-tel:focus {
  color: #2196f3;
}

.list-clients:not(:last-child) {
  margin-right: 30px;
}

.list-clients {
  cursor: pointer;
  list-style: none;
}

.link-clients {
  fill: #afb1b8;
  display: block;
  height: 92px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 31px 16px 31px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:focus,
.link-clients:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.list-clients-list {
  height: 92px;
  width: 100%;
}

.div-clients {
  display: flex;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.worker-name-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-div-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 70px;
  padding-top: 12px;
}

.footer-div-container {
  display: flex;
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #2f303a;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon-footer {
  fill: #ffffff;
}

.social-list-link-footer:focus,
.social-list-link-footer:hover {
  background: #2196f3;
}

.social-list-link-footer:focus .social-list-icon,
.social-list-link-footer:hover .social-list-icon {
  fill: var(--secondary-text-color);
}

.button-portfolio:not(:last-child) {
  margin-right: 8px;
}

.all-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-button {
  list-style: none;
}

.foto-description-portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 20px 24px;
}

.all-button-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus,
.button-portfolio:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
.list-hero {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.links-foto-portfolio:focus,
.links-foto-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-portfolio:not(:nth-child(3n)) {
  margin-right: 30px;
}

.foto-portfolio:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.foto-portfolio {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  cursor: pointer;
}

.links-foto-portfolio {
  display: block;
  text-decoration: none;
}

.box-portolio {
  position: relative;
  overflow: hidden;
}

.description-foto-portfolio {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  left: 0;
  top: 0;
  text-align: center;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* overflow: auto; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-foto-portfolio:focus .description-foto-portfolio,
.links-foto-portfolio:hover .description-foto-portfolio {
  transform: translateY(0%);
}

.name-project {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.description-project {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
