.header {
                border-bottom: 1px solid #ececec;
}

.icon-header-tell {
                width: 10px;
                height: 16px;
                margin-right: 10px;
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

                .nav-header-link:focus &,
                .nav-header-link:hover & {
                                fill: var(--accent-color);
                }
}

.icon-header-maill {
                width: 16px;
                height: 12px;
                margin-right: 10px;
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

                .nav-header-link:focus &,
                .nav-header-link:hover & {
                                fill: var(--accent-color);
                }
}

.nav-header__lists {
                display: flex;
                align-items: center;
}

.header__nav-contacts {
                display: flex;
                align-items: center;
}

.icon-header {
                width: 10px;
                height: 16px;
}

.header__contacts {
                display: flex;
                margin-left: auto;
}

.header__logo-webstudio {
                font-family: "Raleway", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
                color: #000000;
                text-decoration: none;
                margin-right: 92px;
}

.colortext-logo {
                color: var(--accent-color);
}

.nav-header-link {
                fill: #757575;
}

.nav-header__list {
                list-style: none;

                &:not(:last-child) {
                                margin-right: 50px;
                }

                & :hover,
                & :focus {
                                color: var(--accent-color);
                }
}

.header__nav-contacts {
                list-style: none;
}

.nav-header__list-link {
                position: relative;
                font-style: normal;
                @include font(14px 500 16px);
                letter-spacing: 0.02em;
                color: #212121;
                ;
                text-decoration: none;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header-line::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -32px;
                width: 100%;
                height: 4px;
                background: var(--accent-color);
                border-radius: 2px;
}