.hours-working {
  padding-bottom: 94px;
}

.hours-working-gallery {
  display: flex;
}

.hours-working-foto:not(:last-child) {
  margin-right: 30px;
}

.box-hours-working-foto {
  position: relative;
}

.description-jobs {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-align: center;
  padding: 26px 82px;
  text-transform: uppercase;
}

.hours-working-title,
.our-team-peculiarities {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hours-working-gallery {
  list-style: none;
  margin-top: 50px;
}
