.hero-description {
                font-style: normal;
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: var(--secondary-text-color);
                padding-bottom: 30px;
}

.section-hero {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                                                rgba(47, 48, 58, 0.4)),
                                url(../img/background.jpg);
                background-color: #2f303a66;
                background-position: center;
                background-size: cover;
}

.div-hero {
                display: flex;
                text-align: center;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: 600px;
}

.hero-block {
                width: 1200px;
                padding-left: 15px;
                padding-right: 15px;
}

.hero-button {
                background: var(--accent-color);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                cursor: pointer;
                border: 0;
                padding: 0 0 0 0;
}

.hero-button :hover,
.hero-button :focus {
                background: #188ce8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
}

.button-name {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 1.87;
                display: flex;
                text-align: center;
                letter-spacing: 0.06em;
                color: var(--secondary-text-color);
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 4px;
                transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}