
.list-button {
                list-style: none;
}

.foto-description-portfolio {
                display: flex;
                flex-direction: column;
                padding: 20px 24px 20px 24px;
}

.button-portfolio {
                font-family: "Roboto", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.62;
                text-align: center;
                letter-spacing: 0.03em;
                color: #212121;
                padding: 6px 22px 6px 22px;
                background: #f5f4fa;
                border-radius: 4px;
                cursor: pointer;
                border: 0;
                transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
                                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                 &:not(:last-child) {
                    margin-right: 8px;
                 }

                &:focus,
                &:hover {
                                background: var(--accent-color);
                                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                                                0px 2px 2px rgba(0, 0, 0, 0.12);
                                border-radius: 4px;
                                color: var(--secondary-text-color);
                }
}
