.container {
                width: 1200px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: auto;
                margin-right: auto;
}

.header-container {
                display: flex;
                align-items: center;
                padding-top: 24px;
                padding-bottom: 24px;
}